---
//footer.astro

// Import the NewsletterForm component
import NewsletterForm from './NewsletterForm.astro';
---

<footer>
  <NewsletterForm />
  </footer>
  <footer>
  <span>
    &copy; {new Date().getFullYear()} Avanzel
    <!--Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    Template by <a href="https://www.twitter.com" target="_blank" rel="noopener">Me</a>.-->
    </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: 1em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 1em;
    text-align: center;
    width: 100%;
  }
</style>
