---
// NewsletterForm.astro
// This is the frontmatter section where you can include JavaScript.
// Import the stylesheet at the top of your component
import '../styles/newsletter-form.css';

---
<div class="form-row">
  <p class="form-copy">Subscribe for weekly actionable insights to improve your life and one-person business</p>
</div>
  <form name="contact" method="POST" data-netlify="true" id="newsletter-form">
      <div class="form-row">
          <input type="email" id="email" name="email" placeholder="Enter your email" required>
          <button type="submit">Read for free</button>
      </div>
    </form>

<!--second form that appears after user enter email. this second form is to send the comment -->
<div id="success-message" style="display: none;">
  <div class="form-row">
  <p class="form-copy">Please comment</p> 
</div>
    <form id="comment-form" name="comment-form" method="POST" data-netlify="true" action="#">
      <div class="form-row">
      <textarea id="comment" name="comment" placeholder="My comment is..."></textarea>
  <br>
</div>
<br>
<div class="form-row">
      <button type="submit" id="comment-submit">Submit Comment</button>
 </div>
 
  <div id="thanks-comment" style="display: none;">Thanks for your comment!</div>
  <div id="problem-comment" style="display: none;">Oh no there was a problem</div>
</div>
    </form>
  
<script src="/src/scripts/newsletter.js"></script>
<script src="/src/scripts/comment.js"></script>
