---
// NewsletterForm.astro
// This is the frontmatter section where you can include JavaScript.
// Import the stylesheet at the top of your component
import '../styles/newsletter-form.css';

---
<!--first form to enter email -->
<div class="form-row" id="text-subscribe">
  <p class="form-copy">Subscribe for the best tips each Saturday!</p>
</div>
  <form name="contact" method="POST" data-netlify="true" id="newsletter-form">
      <div class="form-row">
          <input type="email" id="email" name="email" placeholder="Enter your email" required>
          <button type="submit">Read for free!</button>
      </div>
    </form>

<!--second form that appears after user enters email. this second form is to send the comment -->
<div id="success-message" style="display: none;">
  <div class="form-row">
  <p class="form-copy">Thanks for subscribing! Please comment what content you would like to see</p> 
</div>
    <form id="comment-form" name="comment-form" method="POST" data-netlify="true" action="#">
      <div class="form-row">
      <textarea id="comment" name="comment" placeholder="My comment is..."></textarea>
  <br>
</div>
<br>
<div class="form-row">
      <button type="submit" id="comment-submit">Submit Comment</button>
 </div>
    </form>
    </div>
  
<script src="/src/scripts/newsletter.js"></script>
<script src="/src/scripts/comment.js"></script>
